#define COMBO_TERM_FAST 18

#define COMBO_IDLE_FAST 150

ZMK_COMBO(one, &kp N1, LT4 LM4, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(two, &kp N2, LT3 LM3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(three, &kp N3, LT2 LM2, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(four, &kp N4, LT1 LM1, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(five, &kp N5, LT0 LM0, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(six, &kp N6, RT0 RM0, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(seven, &kp N7, RT1 RM1, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(eight, &kp N8, RT2 RM2, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(nine, &kp N9, RT3 RM3, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(zero, &kp N0, RT4 RM4, ALL, COMBO_TERM_FAST, COMBO_IDLE_FAST)
