#define COMBO_TERM_FAST 18

#define COMBO_IDLE_FAST 18

ZMK_COMBO(n_one, &kp N1, LT4 LM4, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_two, &kp N2, LT3 LM3, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_three, &kp N3, LT2 LM2, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_four, &kp N4, LT1 LM1, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_five, &kp N5, LT0 LM0, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_six, &kp N6, RT0 RM0, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_seven, &kp N7, RT1 RM1, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_eight, &kp N8, RT2 RM2, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_nine, &kp N9, RT3 RM3, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n_zero, &kp N0, RT4 RM4, EN SYM RU, COMBO_TERM_FAST, COMBO_IDLE_FAST)
