# No whitespace after the comma or in your part name!
config SHIELD_CORNAUX_LEFT
    def_bool $(shields_list_contains,cornaux_left)

# No whitespace after the comma or in your part name!
config SHIELD_CORNAUX_RIGHT
    def_bool $(shields_list_contains,cornaux_right)
